@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*{
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}
body{
    background-color: red;
}
header{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(63, 57, 57);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10vw;
    padding-right: 10vw;
}
a{
    color: white;
    text-decoration: none;
}
nav{
    display: flex;
    /* gap: 60px; */
    gap: 5vw;
}
@keyframes de-izquierda-a-derecha{
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.caja{
    animation-name: de-izquierda-a-derecha;
    animation-duration: 2000ms;
    width: 400px;
    height: 400px;
    background-color: darkolivegreen;
    border: 5px gold solid;
    border-radius: 10px;
    margin: 30px;
    padding: 15px;
}
.caja:hover{
    transition: 500ms ease-in-out;
    background-color: blue;
    /* transform: scale(1.1); */
    transform: rotate(-3deg);
    filter: grayscale(0.25);
} 